.root {
  background-color: var(--surface);
}

.header {
  padding: 8px 8px 8px 16px;
  display: flex;
  align-items: center;
}

.searchField {
  flex: 1;
  margin-right: 4px;
}

.serversList {
  padding: 16px 0;
}

.serverItem {
  transition: background-color 0.1s ease-in-out;
}

.serverItem:focus,
.serverItem:hover {
  background-color: var(--outlineLight);
}

.serverItem.active {
  background-color: var(--outline);
  cursor: default;
  pointer-events: none;
}
