@import url(./variables.css);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
pre {
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--textPrimary);
}

#root {
  min-height: inherit;
}
